{% extends 'vac/base.html' %}
 {% block title %}
Vaccine Detail
{% endblock title %} 
{% block content %}
<div class="bg-light wrapper align-items-start align-items-md-center">
  <div class="container">
    <div class="row ">
        <div class="col-md-6 mt-4">
            <h1 class="my-3">Welcome {{object.user.username|capfirst}}</h1>

                {% if object.status == 'P' and now < object.shot_date %}
                <h3>
                Your shot is scheduled on <span class="text-main">{{object.shot_date}}</span> at
                <span class="text-main">{{object.get_city_display}} vaccine center </span>.
                </h3>

                {% elif object.status == 'C' and now > object.shot_date %}
                <h3>Your shot wass succesfully cmopleted</h3>

                {% else %}

                <h3>Somethong is wrong please contact customer service.</h3>
                {% endif %}
        </div>
        <div class="col-md-6 mt-3 mt-md-0 ">
            <img src="../../static/images/Coronavirus-Vaccine.svg" alt="" class="img-fluid">
        </div>
    </div>
   

  
  </div>
</div>
{% endblock content %}
