{% extends 'vac/base.html' %} {% block title %}Sign up{% endblock title %}
{%block content %}
<div class="wrapper bg-light ">
  <div class="container">
    {% if user.is_authenticated %}

    <h1 class="display-6 mt-3">You are already logged in</h1>
    <p class="mt-2">Check your vaccine shot detail <a href="{% url 'vaccine:vaccine-detail' %}" class="link-primary">here</a></p>
    {% else %} {% if 'register' in request.path %}
    <h1 class="display-6 mt-3">Step one fill in your personal information</h1>
    {% elif 'login' in request.path %}
    <h1 class="display-6 mt-3">Login to view your shot details</h1>
    {%endif%}

    <div class="row my-5">
      <div class="col-md-6 mx-auto">
        <div class="card bg-white">
          <div class="card-body">
            <form action="" method="post" class="fs-6">
              {% csrf_token %} {{form}}
              <input type="submit" class="btn btn-primary" />
              <input type="reset" class="btn btn-secondary" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endif%} {% endblock content %}
